<header id="header">
        <div>
            {{#if res}}
            {{else}}
                <div class="text-wrap">
                    <div class="crossfade">
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                    </div>
                </div>
            {{/if}}
            <nav id="nav" class="effect">
                <div class="nav-color">
                    <div class="nav-opacity">
                        <div id="info" class="row">
                            <a id="logo" class="col" href="#">
                                <div>
                                    <img class="mirror" src="public/img/logo.png">
                                    <img src="public/img/logo.png">
                                </div>
                                <div id="logo-name">Selena store</div>
                            </a>
                            
                            {{#ifEq res.role "admin"}}
                            <ul class="tabs nav col-12 col-md-auto justify-content-end">
                                <li>
                                    <a href="#">Products</a>
                                </li>
                                <li>
                                    <a href="#">Users</a>
                                </li>
                                <li>
                                    <a  href="#">New</a>
                                </li>
                                <li>
                                    <a href="#">History</a>
                                </li>
                            </ul>
                            {{else}}
                            <ul class="tabs nav col-12 col-md-auto justify-content-end">
                                <li>
                                    <a href="#/" title="home">Home</a>
                                </li>
                                <li>
                                <a href="#">Menu</a>
                                    <ul>
                                        <li>
                                            <a href="#">Home</a>
                                        </li>
                                        <li>
                                            <a href="#/galery">Galery</a>
                                        </li>
                                        <li>
                                            <a href="#/about">About</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Galery</a>
                                </li>
                                <li>
                                    <a href="#">About</a>
                                </li>
                                <li>
                            </ul>
                            {{/ifEq}}
                            <ul class="nav col col-lg-2 justify-content-end">
                                {{#if res}}  
                                <li >
                                    <a href="#/logout">{{res.username}}</a>
                                {{#ifEq res.role "admin"}}
                                {{else}}
                                <a class="cart" href="#">
                                    <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
                                </a>
                                {{/ifEq}}
                                <ul>
                                    <li>
                                        <a href="/api/logout">logout</a>
                                    </li>
                                </ul>
                                {{else}}
                                <li>
                                <a href="#/signup">Sing up</a>
                                <ul>
                                    <li>
                                        <a class="btn-login-modal" href="#" data-toggle="modal" data-target=".modal-login">login</a>
                                    </li>
                                    <li>
                                        <a id="btn-register-modal" href="#" data-toggle="modal" data-target=".modal-register">register</a>
                                    </li>
                                </ul>
                                {{/if}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            {{#if res}}
            {{else}}
                <div class="text-wrap">
                    <div id="head-title">
                        <h1 class="title">
                            Selena Gemstone Store
                        </h1>
                        <p>
                            Welcome <br/>
                            Work time <br/>
                            08:00 - 22:00 <br/>
                            every day <br/>
                        </p>
                        {{!--<button class="btn">Reservation here</button>--}}
                    </div>
                </div>
            {{/if}}
        </div>
    </header>