<header id="header">
        <div>
            {{#if res}}
            {{else}}
                <div class="text-wrap">
                    <div class="crossfade">
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                        <figure></figure>
                    </div>
                </div>
            {{/if}}
            <nav id="nav" class="effect">
                <div class="nav-color">
                    <div class="container nav-opacity">
                        <div class="row">
                        <a id="logo" class="col" href="#/">
                            <img src="public/img/Logo.png">
                        </a>
                        {{#ifEq res.role "admin"}}
                        <ul class="nav col-12 col-md-auto justify-content-end">
                            <li>
                                <a href="#/products" title="home">Products</a>
                            </li>
                            <li>
                                <a href="#/users">Users</a>
                            </li>
                            <li>
                                <a href="#/new">New</a>
                            </li>
                            <li>
                                <a href="#/history">History</a>
                            </li>
                        </ul>
                        {{else}}
                        <ul class="nav col-12 col-md-auto justify-content-end">
                            <li>
                                <a href="#/" title="home">Home</a>
                            </li>
                            <li>
                                <a href="#/menu">Menu</a>
                                    <ul>
                                        <li>
                                            <a href="#/">Home</a>
                                        </li>
                                        <li>
                                            <a href="#/galery">Galery</a>
                                        </li>
                                        <li>
                                            <a href="#/about">About</a>
                                        </li>
                                    </ul>
                            </li>
                            <li>
                                <a href="#/galery">Galery</a>
                            </li>
                            <li>
                                <a href="#/about">About</a>
                            </li>
                            <li>
                        </ul>
                        {{/ifEq}}
                        <ul class="nav col col-lg-2 justify-content-end">
                            {{#if res}}  
                            <li >
                                <a href="#/logout">{{res.username}}</a>
                            {{#ifEq res.role "admin"}}
                            {{else}}
                            <a class="cart" href="#">
                                <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
                            </a>
                            {{/ifEq}}
                            <ul>
                                <li>
                                    <a href="/api/logout">logout</a>
                                </li>
                            </ul>
                            {{else}}
                            <li>
                            <a href="#/signup">Sing up</a>
                            <ul>
                                <li>
                                    <a id="btn-login-modal" href="#" data-toggle="modal" data-target=".modal-login">login</a>
                                </li>
                                <li>
                                    <a id="btn-register-modal" href="#" data-toggle="modal" data-target=".modal-register">register</a>
                                </li>
                            </ul>
                            {{/if}}
                            </li>
                        </ul>
                        </div>
                    </div>
                </div>
            </nav>
            {{#if res}}
            {{else}}
                <div class="text-wrap">
                    <div id="head-title">
                        <h1 class="title">
                            Selena Gemstone Store
                        </h1>
                        <p>
                            Welcome <br/>
                            Work time <br/>
                            08:00 - 22:00 <br/>
                            every day <br/>
                        </p>
                        {{!--<button class="btn">Reservation here</button>--}}
                    </div>
                </div>
            {{/if}}
        </div>
    </header>